* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

.container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
}

.header {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 4fr;
    background-color: #393f4d;
    /* justify-content: center;
    align-items: center; */
}

.logo {
    justify-self: start;
}

.menu {
    align-self: center;
}

.menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.menu ul,
.menu li {
    font-size: 16px;
    list-style: none;
}

.sidebar {
    display: grid;
    grid-area: sidebar;
    gap: 50px;
    background-color: #C50208;

    /* text-align: center; */
    /* place-items: center; */
}

.side-content,
.photo {
    display: grid;
    align-items: center;
}

.sidebar .photo {
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: normal;
    border-radius: 10px;
    /* place-items: center; */
    /* text-align: center; */
}


.sidebar .side-content {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: normal;
}

.nav {
    display: grid;
    grid-area: nav;
    background-color: #C50208;


}

.nav ul {
    display: grid;
    list-style: none;
    /* grid-auto-flow: column; */
    grid-template-columns: 1fr 1fr 1fr
}

.nav ul li {

    font-size: 16px;
    text-transform: uppercase;


}

.article {
    display: grid;
    grid-area: article;
    background-color: #bccbde;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
}

.article .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    height: 200px;
}

.card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
    padding: 5px;
}

.card .title {
    font-size: 18px;
    text-align: center;
}

.footer {
    display: grid;
    grid-area: footer;
    background-color: #393f4d;
}

.footer p {
    font-size: 13px;
    font-weight: normal;
}


/* solution */
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "header  header"
        "sidebar nav"
        "sidebar article"
        "footer  footer";
    gap: 4px;
}